/* formatação visual da classe */
.esconder {
    border: 1px solid black;
    padding: 10px;
    background: gray;
    color: white;
}

/* animação da classe */
.esconder {
    -moz-transition: all linear 1s;
    -webkit-transition: all linear 1s;
    -transition: all linear 1s; 
}

/* animação de quando o angularjs esconde um elemento da classe */
.esconder.ng-hide {
    opacity: 0;
}

/* animação de quando o angularjs exibe um elemento da classe */
.esconder.ng-show {
    opacity: 1;
}

/* formatação visual da classe */
.repetir-lista {
    border: 1px solid black;
    margin-bottom: 5px;
}

/* ng-enter, ng-enter-active, ng-leave, ng-move */

/* Animação exibida assim que um elemento é inserido na tela */
.repetir-lista.ng-enter {
    -moz-transition: 2s linear all;
    -webkit-transition: 2s linear all;
    transition: 2s linear all;
    opacity: 0;
    background: lightgreen;
}

/* este estilo é aplicado após o elemento ser ativo */
.repetir-lista.ng-enter-active {
    opacity: 1;
    background: white;
}


