<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Animations</title>
        <link rel="stylesheet" href="css/aula17.style.css">
    </head>
    <body>
        <div ng-controller="aula17Controller" ng-init="mostrar=true; itemAdd='0'">
            <input type="checkbox" ng-model="mostrar" />

            <div class="esconder" ng-show="mostrar">
                Devmedia
            </div>

            <hr />

            <input type="text" ng-model="itemAdd" /> <button ng-click="addItem()">Adicionar Item</button>

            <hr />

            <div class="repetir-lista" ng-repeat="item in items">
                <p> {{ item }} </p>
            </div>
        </div>

        
      
        <script src="../js/angular.min.js"></script>   
        <script src="../js/angular-animate.min.js"></script>   
        <script src="js/app.module.js"></script>   
        <script src="js/aula17Controller.js"></script>    
    </body>
</html>