<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>ngCookies</title>
    <body>
        <div ng-controller="aula19Controller" ng-init="cookieValue=''">

            <button ng-click="createCookie()">Create Cookie</button>     
            <button ng-click="getCookie()">Get Cookie</button>
            <button ng-click="removeCookie()">Remove Cookie</button>

            {{ cookieValue }}
        </div>
        
        <div ng-controller="aula19Controller2" ng-init="cookieValue=''">  
            <!-- mesmo em controllers diferentes, podemos acessar o valor do cookie -->
            <button ng-click="getCookie2()">Get Cookie</button>

            {{ cookieValue }}
        </div>
      
        <script src="../js/angular.min.js"></script>   
        <script src="../js/angular-cookies.min.js"></script>   
        <script src="js/app.module.js"></script>   
        <script src="js/aula19Controller.js"></script>    
    </body>
</html>